@import url('https://fonts.googleapis.com/css2?family=Lato&family=Noto+Sans:wght@300;400&family=Poppins&family=Roboto:wght@400;500&family=Ubuntu:wght@300&display=swap');

:root {
    --main-bg-color: #2874f0;
}

* {
    padding: 0;
    margin: 0;
}

/* ******************* nav bar header **************************** */

header {
    background: var(--main-bg-color);
}

/* navbar */
nav {
    display: flex;
    height: 66px;
}

.logo {
    display: grid;
    padding-left: 105px;
}

.logo p {
    font-style: italic;
    color: white;
    font-size: 10px;
    font-family: Arial, sans-serif;
    padding-left: 32px;
    padding-right: 36px;
    padding-bottom: 13px;
}

.logo p span {
    color: rgb(242, 206, 4);
}

.logo img {
    width: 80px;
    padding-left: 27px;
    padding-right: 27px;
    padding-top: 19px;
}

nav ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 7;
}

nav ul li {
    box-sizing: border-box;
    list-style: none;
}

nav ul li a {
    box-sizing: border-box;
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding: 0px 45px;
}

nav ul li a:hover {
    font-weight: bolder;
}

/* search */
.search {
    display: flex;
    align-items: center;
}

.search input {
    width: 456px;
    height: 35px;
    margin: 0px 25px 0px 0px;
    padding: 0px 12px;
    outline: none;
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 0;
}

.search button {
    font-family: 'Noto Sans', sans-serif;
}

#sicon:hover {
    cursor: pointer;
}


/* drop down menus for a menu-items smalll items */
.dropdown2 {
    position: relative;
}

.drop_cont2 {
    display: none;
    position: absolute;
    left: -90%;
    top: 105px;
    background-color: white;
    width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-size: 14px;
    padding: 12px 0px;
}

.drop_cont2 a {
    color: black;
    padding: 16px 10px;
    text-decoration: none;
    display: block;
    background-color: white;
    margin: -4px 12px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.drop_cont2 a:hover {
    background-color: #fbf8f8;
    color: var(--main-bg-color);
}

.dropdown2:hover .drop_cont2 {
    display: block;
}

.drop_cont2 hr {
    opacity: 0;
}

.dropdown2::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-style: solid;
    border-width: 0 20px 20px 20px;
    border-color: transparent transparent #dfdcdc transparent;
    display: none;
}

/* Show the triangle pointer when the dropdown is hovered */
.dropdown2:hover::after {
    display: block;
}

.dropdown2.active::after {
    display: block;
}

.arrow2 {
    position: absolute;
    top: 91%;
    width: 0;
    height: 0px;
    margin: 0px 3px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid black;
    content: '';
    transform: translateY(-50%) rotate(0deg);
    transition: transform 0.3s ease;
    opacity: 1;
}

.dropdown2:hover .arrow2 {
    transform: translateY(-50%) rotate(180deg);
    border-bottom: 4px solid var(--main-bg-color);
}

/* navitems */
.nav-item {
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    color: white;
    margin: 0 25px;
    font-family: 'Roboto', Arial, sans-serif;
}

.search #sell {
    padding-left: 15px;
}

/* signup */
.sign-up {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    background-color: white;
    font-family: Arial, sans-serif;
}

.sign-up #new-cust {
    font-size: 14px;
    padding-left: 10px;
    cursor: pointer;
}

.sign-up #sign {
    font-size: 16px;
    font-weight: bolder;
    color: var(--main-bg-color);
    padding-right: 8px;
    cursor: pointer;
}

.sign-up #sign:hover {
    text-decoration: underline;
}

/* menu itmes */
.menu-contains {
    display: flex;
    align-items: center;
}

.container .menu {
    width: 100vw;
    border: 1px solid rgb(205, 203, 203);
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: white;
    padding: 10px 0px;
}

.menu-img p {
    margin-top: 4px;
    text-align: center;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0px;
}

.menu-img .para {
    padding: 0px 23px;
}

.container .menu:hover {
    cursor: pointer;
}

.menu-img:hover {
    cursor: pointer;
    color: var(--main-bg-color);
}

.img-1 {
    padding: 0px 21px;
}

/* ******************** container for everything ********************* */

.container {
    min-height: calc(100vh - 55px - 7vh);
    background: #f0f0f0;
}

/* ***************** small menu items  ****************** */
/* menu itmes */
.menu-contains {
    display: flex;
    align-items: center;
}

.container .menu {
    width: 100vw;
    border: 1px solid rgb(205, 203, 203);
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: white;
    padding: 10px 0px;
}

.menu-img p {
    margin-top: 4px;
    text-align: center;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0px;
}

.menu-img .para {
    padding: 0px 23px;
}

.container .menu:hover {
    cursor: pointer;
}

.menu-img:hover {
    cursor: pointer;
    color: var(--main-bg-color);
}

.img-1 {
    padding: 0px 21px;
}

/* ************************ image slider home *************************  */
.slideshow-container {
    max-width: 98.5%;
    margin: 14px auto;
    position: relative;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.mySlides {
    flex: 0 0 100%;
    width: 100%;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 14px;
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 28px;
    transform: translateY(-50%);
    padding: 16px;
    user-select: none;
    height: 62px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.next {
    right: 0;
    border-radius: 5px 0 0 5px;
}

.prev {
    left: 0;
    border-radius: 0 5px 5px 0;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* ---------------- best of electronics ------------------- */

.bestofElectronic_Container {
    margin-bottom: 20px;
}

.bestofElectronicmoreOption {
    height: 110px;
    max-width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}

.bestofElectronicmoreOption img {
    height: 100%;
    width: 100%;
}

.bestofElectronic_item {
    background-color: white;
    min-width: 230px;
    max-width: 230px;
    width: 230px;
    height: 352px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.viewAllBtn {
    background-color: #2874f0;
    padding: 11px 17px;
    border-radius: 3px;
    color: white;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    border: none;
    font-family: 'Roboto', Arial, sans-serif;
    margin-top: 15px;
}

.bestofElectronic_bigText {
    font-size: 30px;
    text-align: center;
    margin: 50px 0px 10px 0px;
    line-height: 1.4;
    font-family: 'Roboto', Arial, sans-serif;
    letter-spacing: 0;
}

.bestofElectronic_list {
    display: flex;
    margin: 0px 11px;
    box-shadow: 0px 0px 14px -11px #3c3b3b;
}

.bestofElectronic_image_product {
    height: max-content;
    text-align: center;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.bestofElectronic_image_product img {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s;
}

.bestofElectronic_image_product img:hover {
    transform: scale(1.05, 1.05);
}

.bestofElectronicProduct_name {
    font-size: 15px;
    letter-spacing: 0.5px;
    font-family: sans-serif;
    padding-top: 7px;
    color: black;
}

.bestofElectronicProduct_name::after {
    color: black;
}

.bestofElectronic_discount {
    padding-top: 5px;
    color: #388e3c;
}

.bestofElectronic_brand {
    color: rgb(143, 136, 136);
}

.bestofElectronic_Product_item,
.bestofbeautyfoodtoys_Product_item,
.bestofhomekitchen_Product_item,
.fashionbestsellers_Product_item,
.topdealsontvandappliance_Product_item {
    display: flex;
    overflow: hidden;
    /* important to add */
}

.bestofElectronic_brand {
    font-size: 14px;
    padding-top: 10px;
}

/* footer */
.foooter-container {
    background-color: #172337;
    font-family: Roboto, Arial, sans-serif;

}


.flex-all-center {
    height: 350px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-container {
    display: flex;
    flex-flow: row wrap;
}

.flex-all-center #mail-us-side-border {
    border-left: 1px solid grey;
}

.footer-container .contents {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    text-align: left;
    letter-spacing: 0;
    flex: 1;
    padding: 12px 29px;
}

.contents .head {
    text-transform: uppercase;
    color: #878787;
    font-size: 13px;
    margin-bottom: 12px;
}

.contents .text {
    padding: 2px 0;
    font-size: 12px;
    line-height: 2;
    color: white;
}

.contents a {
    text-decoration: none;
}

.contents a:hover {
    text-decoration: underline;
}

.foooter-container hr{
    opacity: .3;
}

.down-text {
    display: block;
    padding: 25px;
    color: white;
    text-align: center;
    letter-spacing: 0.2px;
}
